In [4]:
s1 = {
    'John': {
        'age': 20,
        'grade': 'A',
        'subjects': ['Math', 'Science']
    },
    'Alice': {
        'age': 19,
        'grade': 'B',
        'subjects': ['English', 'History']
    },
    'Bob': {
        'age': 21,
        'grade': 'C',
        'subjects': ['Geography', 'Art']
    }
}

In [7]:
s2 = {
    'John':{
        'age':20,
        'grade':'A',
        'subject':['Math','Science']
    },
    
    'Alice':{
        'age':10,
        'grade':'B',
        'subject':['English','History']
    },
        'Bob':{
            'age':21,
            'grade':'C',
            'subjects':['Geography','Arts']
        }
}

In [8]:
s2

{'John': {'age': 20, 'grade': 'A', 'subject': ['Math', 'Science']},
 'Alice': {'age': 10, 'grade': 'B', 'subject': ['English', 'History']},
 'Bob': {'age': 21, 'grade': 'C', 'subjects': ['Geography', 'Arts']}}

In [11]:
s1['sarah']={
    'age':22,
    'grade':'B',
    'Subjects':['Physics','Chemistry']
}

In [12]:
s1

{'John': {'age': 20, 'grade': 'A', 'subjects': ['Math', 'Science']},
 'Alice': {'age': 19, 'grade': 'B', 'subjects': ['English', 'History']},
 'Bob': {'age': 21, 'grade': 'C', 'subjects': ['Geography', 'Art']},
 'sarah': {'age': 22, 'grade': 'B', 'Subjects': ['Physics', 'Chemistry']}}