In [4]:
class student:
    
    def __init__(self):
        print("Constructoer")
        
    def m1(self):
        print("m1")
        
s = student()
s.m1()

Constructoer
m1

In [37]:
class sub:
    '''this is class'''
    
    def __init__(self, name,age,roll):
        self.o = name
        self.a = age
        self.r = roll
        
    def m1(self):
        print("name:",self.o)
        print("age",self.a)
        print("Roll:",self.r)
        
s = sub('gee',345634,43)
s.m1()
print(s.o)
print(s.r)

name: gee
age 345634
Roll: 43
gee
43

In [54]:
class son:
    '''Constructor created'''
    
    def __init__(self):
        self.name = "esjkbt"
        self.age = 32
        
so = son()
print(so.name, so.age)

esjkbt 32

In [70]:
class test:
    
    def __init__(self):
        self.a = 12
        self.b = 43
        
    def dis(self):
        self.c = 54
        print(self.a,self.b,self.c)
        
o = test()
o.dis()
o.d =34
print(o.a,o.b,o.d)
print(o.__dict__)

12 43 54
12 43 34
{'a': 12, 'b': 43, 'c': 54, 'd': 34}

In [90]:
class subject:
    
    def __init__(self):
        self.a = 12
        self.b = 43
        self.c = 12
        self.d = 43
        #del self.c
        
    def dis(self):
        self.f = 45
        del self.b
        
x = subject()
x.dis()
del x.a #deleting instance variable outside the class by using object reference
print(x.__dict__)

x1 =subject()
x1.dis()
del x1.f
print(x1.__dict__)

x2 = subject()
x2.dis()
del x2.a
print(x2.__dict__)

{'c': 12, 'd': 43, 'f': 45}
{'a': 12, 'c': 12, 'd': 43}
{'c': 12, 'd': 43, 'f': 45}